body
    header.page-header
        a.page-header__logo
            img.page-header__logo-image
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link
                li.nav__item
                    a.nav__link
                li.nav__item
                    a.nav__link
            p.page-header__contact-phone
    main.page-main
        section.order
            h1.order__title
            button.order__button
        section.news
            h2.news__title
            ul.news__list
                li.news__item
                    img.news__image
                    h3.news__heading
                    p.news__text
                li.news__item
                    img.news__image
                    h3.news__heading
                    p.news__text
                li.news__item
                    img.news__image
                    h3.news__heading
                    p.news__text
    footer.page-footer
        p.page-footer__copyright
        button.page-footer__button


    
        